__pycache__
db.sqlite3
/media
venv
.venv
.env*
/.idea/modules.xml
/.idea/art_platform.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/dataSources.xml
/.idea/watcherTasks.xml

# AI-Generated Images and logs
ai_playground/images
**/*.log

# OSX Files
.DS_Store*.log
