{% load django_bootstrap5 %}
{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}InspirAItion{% endblock title %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock %}
</head>

<body>
    {% block header %}{% endblock %}

    <!-- <main class="container my-4"> -->
    {% block content %}{% endblock %}
    <!-- </main> -->

    {% block footer %}{% endblock %}

    {% block js %}{% endblock %}
</body>

</html>