{% for post in posts %}
<div class="gallery-item">
    <a href="{% url 'post_detail' post.id %}">
        <div class="gallery-image" style="background-image: url({{ post.image }})">
        </div>
        <div class="gallery-info">
            <h5 class="gallery-title">{{ post.title }}</h5>
            <p class="gallery-author">by {{ post.author_nickname }}</p>
        </div>
        <div class="likes-badge">
            <i class="fas fa-heart {% if post.is_popular %}text-danger{% endif %}"></i>
            <span>{{ post.likes_count }}</span>
            {% if post.is_popular %}
            <span class="badge bg-warning text-dark ms-2">인기</span>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}