{% load django_bootstrap5 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Test</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Django Test</h1>

    <p>
    {% if user.is_authenticated %}
    <div class="d-flex align-items-center">
        {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image }}" alt="프로필 이미지"
                class="rounded-circle me=2" style="width: 40px; height: 40px; object-fit: cover;">
        {% endif %}
        {% if user.profile %}
            {{ user.profile.nickname }}님 환영합니다
        {% else %}
            {{ user.username }}님 환영합니다
        {% endif %}
        <a href="{% url 'profile_update' %}" class="btn btn-sm btn-outline-secondary ms-2">프로필 수정</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">로그아웃</button>
        </form>
    </div>
    {% else %}
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}
    </p>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <hr>
    <footer>
        <p>Footer</p>
    </footer>
</body>
</html>