{% extends "app/common/frame.html" %}
{% load static %}
{% block title %} InspirAItion {% endblock title %}
{% block header %}
{% include "app/common/header.html" %}
{% endblock header %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}


{% block content %}
<section class="hero-section">
    <h1 class="hero-title">Smarter creativity, faster designs</h1>
    <p class="hero-subtitle">Everything you need, from stock images and videos to AI-powered design tools</p>
    
    <div class="search-container">
        {% csrf_token %}
        <div class="search-bar">
            <div class="search-type">AI image</div>
            <input type="text" id="searchInput" class="search-input" placeholder="A giant cat resting on top of a lit skyscraper, realistic">
            <button type="button" id="generateBtn" class="generate-btn">
                <i class="fas fa-wand-magic-sparkles"></i>
                generate
            </button>
        </div>
    </div>
</section>

<div style="margin-top: -2rem"> 
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="bd-placeholder-img"
                style="width: 100%; height: 100vh; background-image: url('{% static 'img/hero_1.jpg' %}'); background-size: cover; background-position: center;">
            </div>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="fw-bolder">Your Ideas & AI's Insight, Boundless Creativity!</h1>
                    <br class="small-break">
                    <p class="text-dark">You can easily create images using our AI agentic capabilities to fully</p>
                    <p class="text-dark">express your unique personality. Transform your everyday</p>
                    <p class="text-dark">moments into the style of famous artists and express your</p>
                    <p class="text-dark">daily emotions through art!</p>
                    <br>
                    <p><a class="btn btn-lg btn-primary" href="#" onclick="alert('회원가입 페이지로 연결할 예정입니다!')">Sign up
                            today</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">

            <div class="bd-placeholder-img"
                style="width: 100%; height: 100vh; background-image: url('{% static 'img/hero_3.jpg' %}'); background-size: cover; background-position: center; 40%">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="fw-bolder">Community Feature</h1>
                    <br class="small-break">
                    <p>Showcase and share the images you've created, and let's exchange ideas and feedback.</p>
                    <p>Let's build a community where creativity and empathy thrive together!</p>
                    <br>
                    <p><a class="btn btn-lg btn-light" href="#" onclick="alert('아직 준비중입니다!')">Join Us</a></p>
                </div>
            </div>
        </div>

        <div class="carousel-item">

            <div class="bd-placeholder-img"
                style="width: 100%; height: 100vh; background-image: url('{% static 'img/hero_2.jpg' %}'); background-size: cover; background-position: bottom;">
            </div>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1 class="fw-bolder">Virtual Gallery Exhibition</h1>
                    <br class="small-break">
                    <p class="text-dark">Do you have a favorite image?</p>
                    <p class="text-dark">Want to organize them by theme?</p>
                    <p class="text-dark">Host your own virtual exhibition!</p>
                    <br>
                    <p class="text-end">
                        <a class="btn btn-primary me-4" href="{% url 'fullscreen_gallery' %}"> Enter Exhibition
                            &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">

    <hr class="featurette-divider">

    <h1 class="fw-bolder"
        style="display: inline-block; border-bottom: 1px solid black; padding-bottom: 8px; margin-left: 20px; margin-bottom: 20px;">
        EVENTS
    </h1>

    <div class="row featurette align-items-start">
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading fw-bolder lh-1"> 1st Event │
                <span class="text-body-secondary" style="text-align: left; display: block; margin-top: 0.5em;">Create
                    ART Goods with OO Museum</span>
            </h2>
            <br>
            <p class="lead" style="font-weight: bold;">Experience the fusion of our traditional culture and AI! Show us
                your unique designs that highlight sustainability, storytelling, and more!</p>
            <br>
            <p style="padding-left: 20px;">ℹ️ For more artworks, please visit the public gallery.</p>
        </div>
        <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            style="width: 30vw; height: 30vw; background-image: url('{% static 'img/event_1.png' %}'); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; color: var(--bs-secondary-color); font-size: 3vw;"
            title="Goods_Tumbler with Ilwolobongdo Pattern">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-start">
        <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">

            <h2 class="featurette-heading fw-bolder lh-1"> 2nd Event │
                <span class="text-body-secondary"
                    style="text-align: left; display: block; margin-top: 0.5em;">Historical Impact and Global
                    Events</span>
            </h2>
            <br>
            <p class="lead" style="font-weight: bold;">Experience Historical Figures, Global Events, and Visualizing
                Histor: Impact, Legacy, and Representation with AI!</p>
            <br>
            <p style="padding-left: 20px;">ℹ️ For more artworks, please visit the public gallery.</p>
        </div>
        <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            style="width: 30vw; height: 30vw; background-image: url('{% static 'img/event_2.png' %}'); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; color: var(--bs-secondary-color); font-size: 3vw;"
            title="Apollo 11 Moon Landing">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette align-items-start">
        <div class="col-md-7 d-flex flex-column justify-content-center">
            <h2 class="featurette-heading fw-bolder lh-1"> 3rd Event │
                <span class="text-body-secondary" style="text-align: left; display: block; margin-top: 0.5em;"> Diverse
                    Visual Representations </span>
            </h2>
            <br>
            <p class="lead" style="font-weight: bold;">Explore creative and practical examples of utilizing AI across
                boundaries, including: </p>
            <p> - Serene Landscapes │ Landmarks</p>
            <p> - Musical Note Visualization │ Creating a Tech Startup Logo</p>
            <p> - Designing an Emblem │ PPT Slide │ Line Diagrams, etc. </p>
            <br>
            <p style="padding-left: 20px;">ℹ️ For more artworks, please visit the public gallery.</p>
        </div>
        <div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            style="width: 30vw; height: 30vw; background-image: url('{% static 'img/event_3.png' %}'); background-size: cover; background-position: center; display: flex; justify-content: center; align-items: center; color: var(--bs-secondary-color); font-size: 3vw;"
            title="Recreation of Malcolm X">
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block footer %}
{% include "app/common/footer.html" %}
{% endblock footer %}