{% extends "app/base.html" %}

{% block content %}
    <div class="container text-center">
        {% if user.is_authenticated %}
            {% if ai_images %}
                <div class="mt-4">
                    <div class="mb-3">
                        <img src="{{ ai_images.0.image_url }}" alt="Recent AI Generated Image" class="img-fluid" style="max-width: 500px">
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p>로그인하여 AI 이미지 생성을 시작해보세요.</p>
        {% endif %}
    </div>
{% endblock %}