{% extends "app/base.html" %}

{% block content %}
    <div class="container">
    <h1>Post List</h1>
    {% for post in posts %}
        <div>
            <a href="{% url 'post_detail' post.id %}">
                {{ post.id }}. {{ post.title }}
            </a>
        </div>
    {% endfor %}

    {% if ai_images %}
        <h2>Recent AI Generated Images</h2>
        {% for image in ai_images %}
            <div class="mb-3">
                <img src="{{ image.image_url }}" alt="AI Generated Image" class="img-fluid" style="max-width: 300px">
                <p>{{ image.prompt }}</p>
            </div>
            {% endfor %}
        {% endif %}

    <hr>
    <a href="{% url 'create_post' %}" class="btn btn-primary">새 글 작성하기</a>
    <a href="{% url 'generate_image' %}" class="btn btn-success">AI 이미지 생성하기</a>
    </div>
{% endblock %}